
@keyframes foobar{
	/*from {background-color: green;width:10px;}*/
	/*to {background-color: yellow;width:20px;}*/
	from {
		background:#ddd;
		font-size:13px;
	}
	to{
		background:#f88;
		font-size:20px;
	}
}

body{
	background-color:black;
	color:white;
	position:absolute;
	/*padding:0px 0px;*/
	margin:5px 5px;
	/*overflow-x:hidden;*/
	/*width:93%;*/
	/*height:94vh;*/
}

b{
	color:#ff8888;
}

p{
	/*font-size:14px;*/
}

em, h2, h3, h4, h5{
	color:#f88;
}

table, th, td{
	border:1px solid white;
	border-collapse:collapse;
	padding:3px;
	text-align:center;
}


#tour_plateau{
	/*margin:0px 0px;*/
	border:none;
	position:abosulte;
	/*top:0px;*/
	/*left:0px;*/
	/*width:605px;*/
	/*height:605px;*/
	/*width:100vh;*/
	/*height:100vh;*/
}

#plateau{
	/*margin:0px 0px;*/
	width:100%;
	height:100%;
	position:relative;
	top:2px;
	left:2px;
	/*top:0px;*/
}

#tour_tab{
	/*background:#141;*/
	position:absolute;
}

.tablinks{
	background-color:#888888;
	float:left;
	border:none;
	outline:none;
	/*padding:14px 16px;*/
	transition:0.8s;
	height:42px;
	width:25%;
	min-width:30px;
}

.tablinks:hover{
	background-color:#eeeeee !important;
	/*font-size:18px;*/
	/*animation-name:foobar;*/
	/*animation-duration:1s;*/
	/*animation-iteration-count:1;*/
	/*animation-direction:alternate;*/
}

input{
	font-size:15px;
}

select{
	font-size:15px;
	/*position:absolute;*/
	/*left:65px;*/
	max-width:50%;
	height:23px;
}

label{
	display:inline-block;
	min-width:70px;
}

img{
	/*width:200px;*/
	/*height:100px;*/
	width:36vmin;
	height:18vmin;
	max-width:102%;
	margin:4px 4px;
	/*max-height:calc(v);*/
}

.rule_button{
	max-width:36px;
	max-height:36px;
}

.rule_button:hover{
}

.tablinks.active{
	background-color:#cc0000;
}

#tabmenu{
	position:absolute;
	top:10px;
	width:inherit;
}

.tabcontent{
	display:none;
	padding:6px 12px;
	border:1px solid #ccc;
	border-top:none;
	position:absolute;
	top:53px;
	/*width:580px;*/
	/*height:560px;*/
	/*width:fit-content;*/
	/*width:calc(inherit-20px);*/
	width:calc(100% - 26px);
	height:92%;
	/*overflow-y:scroll;*/
	overflow-x:hidden;
	/*background-color:#141;*/
	background-color:#1d1d1d;
	font-size:17px;
	/*overflow-x:initial;*/
}

.info_game{
	display:inline-block;
	color:white;
	padding:2px 2px;
	background-color:#1d1d1d;
	width:30%;
	text-align:center;
	position:relative;
	left:2.5vmin;
	top:4px;
	font-size:15px;
}

.b_option{
	width:16.66%;
	height:45px;
	/*max-height:13%;*/
	/*font-size:13px;*/
	background:#ddd;
	transition:0.8s;
	border:none;
	/*border:1px solid red;*/
	margin:none;
	outline:none;
	float:left;
}

.b_option:hover{
	/*background:#f55;*/
	background:#888;
	/*box-shadow:0px 0px 20px #f55;*/
	/*position:absolute;*/
	/*animation-name:foobar;*/
	/*animation-duration:1s;*/
	/*animation-iteration-count:infinite;*/
	/*animation-direction:alternate;*/
	/*-webkit-animation-name:foobar;*/
	/*-webkit-animation-duration:1s;*/
	/*-webkit-animation-iteration-count:infinite;*/
	/*-webkit-animation-direction:alternate;*/
}

@media (orientation:landscape) {
	body{
		overflow-y:hidden;
	}
	.b_option{
		font-size:13px;
	}
	#tour_plateau{
		width:calc(99vh - 30px);
		height:calc(99vh - 30px);
	}
	#tour_tab{
		width:calc(100vw - 96vh - 27px);
		height:calc(99vh - 10px);
		top:-7px;
		left:calc(99vh - 10px);
		min-width:200px;
		min-height:170px;
	}
	#tabmenu{
		/*width:calc(100vw - 93vh);*/
		width:100%;
	}
	/*.tabmenu{*/
		/*top:10px;*/
		/*left:630px;*/
	/*}*/
}

/*@media (orientation:landscape) and (max-height:500px) {*/
@media only screen and (max-width:1000px){
	/*body{*/
		/*margin:3px 3px;*/
	/*}*/
	#tour_plateau{
		width:94vh;
		height:94vh;
		left:2px;
	}
	#tour_tab{
		position:absolute;
		/*top:-10px;*/
		left:96vh;
		width:calc(100vw - 96vh - 11px);
	}
	.info_game{
		top:0px;
		font-size:12px;
	}
}
@media (orientation:portrait) {
	/*input, label{*/
		/*font-size:30px;*/
	/*}*/
	/*table{*/
		/*font-size:35px;*/
	/*}*/
	/*select{*/
		/*font-size:22px;*/
	/*}*/
	/*.b_option, .tablinks, .info_game, .wtp{*/
		/*font-size:25px;*/
	/*}*/
	body{
		overflow-x:hidden;
	}
	#tour_plateau{
		width:97vw;
		height:97vw;
	}
	#tour_tab{
		width:97vw;
		height:calc(100vh - 97.3vw - 55px);
		/*height:inherit;*/
		/*min-height:200px;*/
		/*max-height:800px;*/
		min-width:200px;
		min-height:170px;
		top:calc(97.3vw + 40px);
		/*bottom:100%;*/
		left:1.5vw;
	}
	#tabmenu{
		width:97vw;
	}
	/*.tabmenu{*/
	/*top:650px;*/
	/*left:10px;*/
	/*}*/
}

/*@media (max-width:400px){*/
	/*.info_game{*/
		/*font-size:12px;*/
		/*padding:0px 0px;*/
	/*}*/
/*}*/
/*@media (max-height:400px){*/
	/*.info_game{*/
		/*font-size:12px;*/
		/*padding:0px 0px;*/
	/*}*/
/*}*/


/*.main{*/
/*height:30px;*/
/*width:80px;*/
/*}*/

/*.choix{*/
/*width:200px;*/
/*}*/

/*.choix_input{*/
/*width:80px;*/
/*position:absolute;*/
/*right:10px;*/
/*}*/

/*#glob_menu{*/
/*position:absolute;*/
/*top:10px;*/
/*left:630px;*/
/*width:300;*/
/*height:20;*/
/*background-color:#ffffff;*/
/*}*/

/*ctrlz{*/
/*height:24px;*/
/*width:98px;*/
/*}*/

/* create a scrollbar for rules*/
/*stronger than rescroller if !important*/
::-webkit-scrollbar{
	width:8px;
	height:8px;
}
::-webkit-scrollbar-track{
	background:#fff;
}
::-webkit-scrollbar-thumb{
	background:#f00;
}
::-webkit-scrollbar-thumb:hover{
	background:#f00;
}
